.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.header {
    height: 10%;    
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 80% 10%;
}

@media all and (max-width: 1300px) {
    .header
    {
        grid-template-columns: 25% 60% 20%;
    }
}

.userName{
    font-size: 22pt;
    font-weight: 500;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #656565;
}

.logoutButton{
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    color: #414141;
     padding-top: 30px; 
}
.logoutButton:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}


/* listing  */


.socialListContainer{
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.socialCell{
    margin: 0 auto;
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;

    text-align: center;    
   
}


.socialInput {
    /* box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: inline-flex;
    
    width: 80%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #111;
	background: transparent;
	margin-bottom: 5px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
    background-color: aqua; */

    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 12pt;
}

.updateDeleteButtonContainer{

    margin: 0 auto;
    width: 90%;

    margin-top: 20px;
    display: flex;
    justify-content: flex-end;   
    padding-right: 2%;
    
    
}




/* create social */
.createSocialContainerParent{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;

}

.createSocialContainer{
    /* background-color: red; */
    min-width: 500px;
    width: 40%;
    height: 260px;

    margin: 0 auto;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #656565;
    text-align: center; 
}

/* @media all and (max-width: 1300px) {
    .createSocialContainer
    {
      width: 50%;
    }
}

@media all and (max-width: 900px) {
    .createSocialContainer
    {
      width: 60%;
    }
}

@media all and (max-width: 550px) {
    .createSocialContainer
    {
      width: 80%;
    }
} */

.createSocialTitle{
    font-size: 16pt;
    color: #656565;
    font-weight: 500;
    width: 100%;
    height: 10%;
    background-color: rgba(153, 205, 50, 0.171);
    padding-top: 5px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.socialInputCreate {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 12pt;
}

.buttonsContainer{
    /* width: 70%;
    padding-top: 15px;
    display: flex;
    
    float: right;
    background-color: #656565;    
    grid-template-columns: 20% 30% 45%; */

    margin: 0 auto;
    /* background-color: #414141; */
    margin-top: 10px;
    width: 81%;
    display: flex;
    justify-content: end;  
    flex-direction: row-reverse; 

}



.createCancelButton{
    background-color: rgba(153, 205, 50, 0.342);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
    border-bottom: 1px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
    height: max-content;
    width: max-content;
    margin-right: 20px;
}




.createButtonContainer{
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;

    /* background-color: red;  */
    margin: 0 auto;
    margin-top:  20px;
}

.createButtonInnerContainer{
    min-width: 500px;
    width: 40%;
    margin: 0 auto;
    /* background-color: red; */
    text-align: end;
}